{% extends "base.html" %}
{% block content %}

<h1>Pass encryption!</h1>
Project on my studies.
<br></br>
<form action="" method="post">


<input type="text" placeholder="Put password" name="haslo" value="{{request.form.szyfrowanie }}">


<select class="form-select" aria-label="Default select example" name="type">
  <option selected>Open this select menu</option>
  <option value="bcrypt">One</option>
  <option value="md5">Two</option>
  <option value="3">Three</option>
</select>


<input class="btn btn-warning" type="submit" value="bcrypt">

{% endblock %}
