{% extends "base.html" %}
{% block content %}

<h1>Pass encryption!</h1>
Project on my studies.
<br></br>
<form action="" method="post">


<input type="text" placeholder="Put password" name="haslo" value="{{request.form.szyfrowanie }}">


<select class="form-select" aria-label="Default select example" name="type">
  <option selected>Choose a type hashing</option>
  <option value="bcrypt">bcrypt</option>
  <option value="flask">hash-flask</option>
  <option value="sha512">sha512</option>
  <option value="sha256">sha256</option>
  <option value="md5">md5</option>
  <option value="sha1">sha1</option>
  <option value="sha384">sha384</option>
</select>


<input class="btn btn-warning" type="submit" value="hash!">

{% endblock %}
