[Unit]
Description=app.py RRI
After=network.target

[Service]
User=pi
Group=www-data
WorkingDirectory=/home/pi/Raspberry/TDo
ExecStart=/usr/bin/python3 /home/pi/Raspberry/TDo/app.py

[Install]
WantedBy=multi-user.target